<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Anos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      detail
      *ngFor="let item of anos"
      [routerLink]="['/', 'livros', item.ano, 0]"
    >
      <ion-label>
        <h2>{{ item.ano }}</h2>
        <h3>{{ item.quantidade }} livro(s)</h3>
        <h3>{{ item.totalAutores }} autore(s)</h3>
        <h3>{{ item.totalPaginas | number: "":"pt" }} páginas</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
